@media screen and (max-width: 710px) {
    @import "../vars.scss";
    * {
        animation: none;
        animation-timeline: none;
        animation-range: none;
    }

    .btnTopo {
        bottom: 50px;
        padding: 7px 10px;
    }

    .saudacao h2 {
        font-size: 25px;
    }

    .intro h1 {
        font-size: 40px;
        animation: none;
        animation-timeline: none;
        animation-range: none;
    }

    .intro h2 {
        animation: none;
        animation-timeline: none;
        animation-range: none;
    }

    .resumo-container {
        margin: 0 25px !important;
        .resumo-desc {
            margin: 0 25px !important;
        }
    }

    .meus-projetos {
        animation: none;
        animation-timeline: none;
        animation-range: none;

        .box-projeto {
            display: flex;
            flex-direction: column !important;
            align-items: center;
            justify-content: center;
        }
    }

    .paginas.active {
        position: fixed;
        top: 10vh;
        left: 0;
        width: 100vw;
        height: calc(100vh - 10vh);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 9998;
        background-color: $verde-dark-bg;
        border-radius: 0;
    }

    .sobre {
        animation: none;
        animation-timeline: none;
        animation-range: none;
    }

    .sobre img {
        animation: none;
        animation-timeline: none;
        animation-range: none;
    }

    .paragrafo {
        max-width: 80%;
    }

    .btn2 {
        animation: none;
        animation-timeline: none;
        animation-range: none;
    }

    .contato {
        margin: 100px 0;

        .colunaC {
            padding: 0 20px;

            .content-form {
                max-width: 500px;

                .form-contato {
                    width: 100%;
                    max-width: 360px;

                    input,
                    textarea {
                        width: 100%;
                    }
                }
            }
        }
    }

    .meus-projetos {
        padding-top: 80px;

        .box-projeto {
            height: auto !important;
            padding: 1.6rem !important;
            min-width: 360px !important;

            p {
                margin-bottom: none;
            }

            .detalhes-projeto {
                width: 100% !important;

                .nome-projeto {
                    max-width: 100% !important;
                    font-size: 1.75rem !important;
                }

                p {
                    max-width: 100% !important;
                }

                .btn-link-site {
                    width: 100%;
                }
            }
        }
    }

    .experiencia {
        .box-experiencia {
            height: 660px !important;

            .detalhes-experiencia {
                p {
                    max-width: 90% !important;
                }
            }
        }
    }
}
