@media screen and (max-width: 400px) {
    @import "../vars.scss";

    .sobre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15%;
        margin-right: 15%;

        .paragrafro {
            p {
                font-size: 20px;
            }

            .btn {
                max-width: 100%;
            }
        }
    }

    .habilidades {
        .diferenciais {
            .card {
                text-align: center;
                width: 360px;
            }
        }
    }

    .meus-projetos {
        .destaque-projetos {
            .box-projeto {
                min-width: 250px !important;
                padding-top: 0px;
                padding: 1rem !important;

                p {
                    font-size: 16px;
                }

                .btns-projeto {
                    .btn-link-site,
                    .btn-link-git {
                        font-size: 2rem;
                    }
                }

                h4 {
                    font-size: 1.2rem;
                }
            }
        }

        .projetos {
            .box-projeto {
                min-width: 250px !important;
                padding-top: 0px;

                p {
                    font-size: 16px;
                    padding-bottom: 5px;
                }

                h4 {
                    font-size: 12px;
                }
            }
        }
    }

    .sociais {
        display: flex;
        max-width: 100% !important;
        border-radius: 30px;

        h3 {
            font-size: 17px;
        }
    }

    .contato {
        .colunaC {
            .content-contato {
                align-items: center;

                .sociais {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 295px;
                }
            }
        }
    }

    .footer {
        h3 {
            font-size: 12px;
        }
    }
    .paginas.active {
        position: fixed;
        top: 10vh;
        left: 0;
        width: 100vw;
        height: calc(100vh - 10vh);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 9998;
        background-color: $verde-dark-bg;
        border-radius: 0;
    }
}
