@import "./vars.scss";
@import "./animations.scss";

.habilidades {
    display: flex;
    flex-direction: column;
    margin: 0 7%;
    align-items: center;
    padding-top: 95px;
    justify-content: center;
    align-self: center;

    .tituloxp {
        color: $verde-secundario;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    span {
        color: $verde-principal;
    }

    h3 {
        color: white;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        margin-top: 5px;
    }

    .habilidades-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 30px;
        justify-content: center;

        &.tecnology-2 {
            margin-top: 4.5rem;
        }

        .btn2 {
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 205px;
            height: 60px;
            border-radius: 30px;
            background: $verde-terciario;
            transition: $transicao-botao-hover;
            text-decoration: none;
            overflow: hidden;

            i {
                display: flex;
                font-size: 3.6rem;
                z-index: 1;
                transition: 0.3s ease-in-out;
            }

            .image-icon {
                width: 30px;
                z-index: 1;
            }

            h2 {
                z-index: 1;
                font-size: 19px;

                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-align: center;
                padding-left: 10px;
            }

            &::after {
                content: "";
                position: absolute;
                background: $verde-seis;
                inset: 3px;
                border-radius: 30px;
            }

            &:hover {
                background: $verde-oito;
            }

            &:hover i {
                animation: spin 5s linear infinite;
            }
        }

        .btn2b {
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 205px;
            height: 60px;
            border-radius: 30px;
            background: $verde-secundario;
            transition: $transicao-botao-hover;
            text-decoration: none;
            overflow: hidden;

            h2 {
                z-index: 1;
                font-size: 19px;

                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-align: center;
                padding-left: 10px;
            }

            i {
                display: flex;
                font-size: 3.6rem;
                z-index: 1;
                transition: 0.3s ease-in-out;
            }

            &::after {
                content: "";
                position: absolute;
                background: $verde-cinco;
                inset: 3px;
                border-radius: 30px;
            }

            &:hover {
                background: $verde-oito;
            }

            &:hover i {
                animation: spin 5s linear infinite;
            }
        }
    }

    .diferenciais-titulo {
        margin-top: 35px;
    }

    .diferenciais {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        justify-content: center;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 400px;
            min-height: 100px;
            max-height: 150px;
            background: $verde-quaternario;
            border-radius: 30px;
            padding: 15px 20px;
            flex-grow: 1;
            flex-basis: 0;
            transition: 0.3s ease-in-out;
            box-shadow: 2px 7px 1px $verde-oito;

            h3 {
                font-weight: 600;
                margin-top: auto;
                margin-bottom: auto;
                letter-spacing: 3px;
            }

            .card-body {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                .card-icon {
                    font-size: 4.8rem;
                    margin-right: 5px;
                    color: $verde-darkL;
                }

                #scrum-icon {
                    font-size: 6.4rem;
                }
            }

            &:hover {
                background: $verde-cinco;
                box-shadow: 2px 5px 10px $verde-oito;
            }

            &:hover .card-body .card-icon {
                animation: spin 3s linear infinite;
            }
        }
    }
}

.meus-projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 7%;
    padding: 100px 0 50px 0;
    align-items: center;

    span {
        color: $verde-principal;
    }

    h2 {
        color: $verde-quaternario;
        text-align: center;
        font-size: 3.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    h3 {
        color: white;
        text-align: center;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        margin-bottom: 20px;
    }

    .box-projeto {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 400px;
        border-radius: 30px;
        padding: 0 3px;
        overflow: hidden;
        flex-grow: 1;
        transition: 0.3s ease-in-out;

        .img-projeto {
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.6rem;
            width: 60%;
            height: 85%;
            background-color: $verde-darkL;
            border-start-start-radius: 30px;
            border-end-start-radius: 30px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.3s ease-in-out;
                border-start-start-radius: 30px;
                border-end-start-radius: 30px;

                &:hover {
                    transform: scale(1.05);
                }
            }

            .play-icon-overlay {
                position: absolute;
                top: 50%;
                left: 28%;
                transform: translate(-50%, -50%);
                font-size: 5.6rem;
                color: $verde-principal;
                pointer-events: none;
                text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
                transition: transform 0.2s ease,
                    opacity 0.2s ease;

                &:hover {
                    transform: translate(-50%, -50%)
                        scale(1.1);
                }
            }
        }

        .detalhes-projeto {
            z-index: 1;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;

            .nome-projeto {
                text-align: center;
                color: #fff;
                z-index: 1;
                max-width: 80%;
                font-size: 2.3rem;
            }

            h4 {
                color: $verde-principal;
                text-align: center;
                font-size: 1.2rem;
                max-width: 90%;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-top: 5px;
                z-index: 1;
            }

            p {
                color: #fff;
                max-height: 90px;
                max-width: 90%;
                text-align: center;
                font-size: 15.5px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-top: auto;
                margin-bottom: auto;
                z-index: 1;
            }

            .btns-projeto {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70%;
                gap: 10px;
                margin-bottom: 10px;
                margin-top: 1rem;

                .btn-link-site,
                .btn-link-git {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;
                    padding: 0 10px;
                    background-color: $verde-cinco;
                    font-size: 1.7rem;
                    box-shadow: none;
                    border-radius: 30px;
                    transition: 0.3s ease;
                }
                .btn-link-site:hover,
                .btn-link-git:hover {
                    transform: scale(1.1);
                    box-shadow: 1px 1px 3px 1px #09090981;
                }
            }
        }
    }

    .destaque-projetos {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        padding-bottom: 45px;
        align-items: center;
        justify-content: center;

        .box-projeto {
            background: $verde-sete;

            &::after {
                content: "";
                position: absolute;
                background: $verde-oito;
                inset: 3px;
                border-radius: 30px;
            }

            &:hover {
                background-color: $verde-principal;
            }
        }
    }

    .projetos {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 45px;
        align-items: flex-start;
        justify-content: center;

        .box-projeto {
            background: $verde-sete;

            &::after {
                content: "";
                position: absolute;
                background: $verde-darkL;
                inset: 4px;
                border-radius: 30px;
            }

            &:hover {
                background-color: $verde-principal;
                transform: scale(1.03);
            }
        }
    }

    .btn5 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 33px;
        flex-shrink: 0;
        padding: 0 1rem;
        border-radius: 19.5px;
        background: $verde-quaternario;
        box-shadow: 0px 4px 1px 0px #fff;
        cursor: pointer;
        transition: $transicao-botao-hover3;
        text-decoration: none;
        margin-bottom: 45px;

        h2 {
            color: #fff;
            font-size: 15.5px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-align: center;
            transition: $transicao-botao-hover4;
        }

        &:hover {
            transform: scale(1.2);
            border-radius: 19.5px;
            background-color: #1ee61e;
            box-shadow: 0px 3px 1px 0px #fff;
        }

        &:hover h2 {
            color: $verde-darkL;
            font-weight: 600;
        }
    }
}
