@import "./vars.scss";
@import "./animations.scss";

.mobile-menu {
    display: none;
    cursor: pointer;

    div {
        width: 32px;
        height: 2px;
        background: white;
        margin: 8px;
        transition: 0.3s;
    }
}

.menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
    background-color: $bg-menu;
    backdrop-filter: blur(3px);
    border-bottom: 1px solid $border-menu;

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        row-gap: 3px;
        width: 100%;
        position: fixed;

        .portfolio-logo {
            height: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            cursor: pointer;
        }

        .paginas {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;

            .btn-language {
                color: $verde-secundario !important;
                .div-btn-language {
                    display: flex;
                    align-items: center;

                    span {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                    }

                    .icon-language {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

header span {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    transition: color 0.5s ease;
}
header span:hover {
    color: $verde-principal;
}
