
@import "./vars.scss";

.paginas.active {
    transform: translateX(0);
  }
  
  @keyframes paginasFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    background: $verde-secundario;
  }
  
  .mobile-menu.active .line2 {
    transform: rotate(-45deg) translate(-1px, 1px);
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    background: $verde-secundario;
  }